.Wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapperCard {
    width: 380px;
    margin: 20px;
    background-color: white;
}

.headerWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: xx-large;
        font-weight: bold;
        padding-top: 5px;
        padding-left: 80px;
    }
}



.view-search-create{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    button{
        width: 150px;
        height: 50px;
        background-color: rgb(76,57,111);
        color: white;
    }
}

div.tabs{
    width: 100%;
    display: flex;
    justify-content: center;
}


