mat-form-field{
  width: 100%;
}
textarea{
  height: 100px;
}

.detailData{
  width: 100%;
  display: flex;
  flex-direction: row;

  mat-form-field{
    width: 90%;
  }

}

.browsePhoto{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p{
    color: #bbbbbb;
  }

  button{
    width: 130px;
    background-color: gray;
    color: white;
  }
}

.dialogFooter{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button{
    width: 100px;
    margin: 5px;
  }

  button:first-of-type{
    background-color: rgb(16,74,95);
    color: white;
  }
  button:last-of-type{
    background-color: white;
    color: gray;
  }

}