h1,p{
  text-align: center;
}
p span{
  font-weight: bold;
}
h1{
  font-weight: bold;
  margin-top: 30px;
}

.DeleteContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: 160px;
  }
}
.deleteFooter{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;

  button{
    width: 100px;
  }
}